<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>FoodNow</title>
	<meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
	

	<div class="header">
			
			<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top navbar-info">
				<a href="#" class="navbar-brand text-info">FoodNowApp</a>

				<button class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="/users/login" class="nav-link text-info">SIGN IN</a>
					</li>
					<li class="nav-item">
						<a href="/users/register" class="nav-link text-info">REGISTER</a>
					</li>
				</ul>
			</div>
			</nav>

		</div>


	<div class="bg-img">		

		<div class="cover-tale">
			<div class="inside">
										
				<h1 class="text-center">Tasty Food available at your disposal immediately</h1>
				<p class="lead text-center">Order your food with us and get delivery at your doorstep in less than 10 minutes</p>
					
				<form class="search-bar">	
					
					<input type="text" class=" input form-control form-control-lg" id="inputPassword2" placeholder="Enter Street or Address">
							
					<a href="/map" class="button btn btn-lg btn-info">Find Restaurant</a>
					
				</form>			
				
				<div class="app-links">
					<img src="/images/google-play-badge(1).png" alt="google play logo">
					<img src="/images/app-store-badge.png" alt="app store logo">
				</div>
			</div>
		</div>
	</div>

	<div id="footer" class="jumbotron">
			
		<div class=" text-center footer-inside">	
			<div class="contact">
				<p class="lead"><i class="fas fa-envelope-square fa-sm text-info"></i> customerservice@FoodNowApp.now</p>	
				<p class="lead"><i class="fas fa-phone fa-sm text-info"></i> 08134696399</p>
			</div>

			<div class="app-links">
				<a href="#" class="btn btn-success">SIGN UP COMPANY</a>
				<img src="/images/google-play-badge(1).png" alt="googleplaylogo">
				<img src="/images/app-store-badge.png" alt="app store logo">
				<a href="#" class="btn btn-danger">JOIN OUR TEAM</a>
			</div>

			<div class="social-media">
				<i class="fab fa-facebook fa-2x text-info"></i> <i class="fab fa-instagram fa-2x text-info"></i> <i class="fab fa-twitter fa-2x text-info"></i>  
			</div>

			<p class="lead text-center"> Copyright &copy; <script>document.write((new Date()).getFullYear())</script>, FoodNowApp Ltd. All rights reserved</p>

  	</div>





<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>