


body {
	box-sizing: border-box;
	padding: 0;
	margin: 0 !important;
	display: grid;
	grid-template-areas: 
				"header"
				"bg-img"
				"footer"
				;
}
.navbar {
	font-weight: bolder;
}


.bg-img {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/coverimg.jpg) no-repeat;
	background-size: cover;
	grid-area: "bg-img";			
	/*background-color: blue;*/
	height: 100%;
	width: 100vw;
	color: white !important;
	padding-bottom: 10rem;
}

.header {
	grid-area: "header"
}

.cover-tale {
	margin-top: 15%;
}

/*============= FOR THE INPUT AND BUTTON ELEMENT*/
.search-bar {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 4/12;
	margin: 0 !important;

}

 .input {
	grid-column: 1/8;
	border-radius: 0;
}

.button {
	grid-column: 8/13
	
}

/* ============== END OF INPUT ELEMENT*/
.inside {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto; 
	align-items: center;
	justify-content: center;
	grid-gap: 10px;
	font-family: 'Manjari', sans-serif;
}

.inside > * {
	grid-column: 3/11;
} 

.app-links {
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 10px;
	align-items: space-between;

}
/*====================== THE FOOTER SECTION*/

#footer{
	grid-area: "footer";
}


.footer-inside {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.contact, .app-links, .social-media {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	padding:5px
}

.contact *, .app-links *, .social-media * {
		margin: 5px;
	}
	
.jumbotron {
	margin: 0;
	padding: 0;
}


/* ============= STYLE THE FONTS */


/*=============Media Queries=================*/
@media(max-width: 767px){
	.cover-tale {
	margin-top: 8rem;
	}

	.cover-tale h1 {
	font-size: 1.5rem !important;
	}

   .cover-tale p{
	font-size: 1rem !important;
	}

.search-bar {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-column: 3/12;
	
	}

 .input {
	grid-column: 1/12;
	font-size: 1rem !important;
	text-align: center;
	}

.button {
	grid-column: 1/12;
	font-size: 1rem !important;
	}

.app-links {
	display: grid;
	grid-template-rows: 4fr;
	grid-gap: 10px;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	}

.inside .app-links {
	margin-top: 2rem;
}

.app-links img {
	align-items: center;
	margin: 0 auto;	
	}

p, .btn {
	font-size: 1rem !important;
}

.social-media {
	margin-bottom: 15px;
}

}
